/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #0f172a; /* mørk blå */
    color: #e2e8f0; /* lys tekst */
}

a {
    text-decoration: none;
    color: inherit;
}

/* NAVBAR */
header {
    background: #020617;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a:hover {
    color: #38bdf8;
}

/* HERO */
#hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;
}

#hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#hero p {
    margin-bottom: 20px;
    color: #94a3b8;
}

.btn {
    background: #38bdf8;
    color: #020617;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: #0ea5e9;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

/* PROJECTS */
.project {
    background: #020617;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.project:hover {
    transform: translateY(-5px);
    background: #020617;
    box-shadow: 0 5px 20px rgba(56, 189, 248, 0.2);
}

/* SKILLS */
#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#skills li {
    background: #020617;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* CONTACT */
#contact p {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    #hero h2 {
        font-size: 2rem;
    }
}
html {
    scroll-behavior: smooth;
}
#hero {
    background: linear-gradient(180deg, #020617, #0f172a);
}